<div class="container">
    <nav id="first" class="navbar navbar-expand-lg navbar-light bg-info ">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSecondCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img class="img-fluid"
                src="../../assets/ThinkTac-Create-Learn-Enjoy-400x106 (1).png" alt="Responsive image" /></a>
        <div id="navbarSecondCollapse" class="collapse navbar-collapse justify-content-around">
            <div class="navbar-nav align-self-center my-0">
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                <datalist id="datalistOptions">
                    <option *ngFor="let item of list " [value]="item.Name">
                </datalist>
            </div>
            <select class="selectpicker btn btn-warning my-3" data-width="fit">
                <option>Subject</option>
                <option>Computer Science</option>
                <option>General Knowledge</option>
            </select>
            <br>
            <select class="selectpicker btn btn-warning my-3" data-width="fit">
                <option>Language</option>
                <option>English</option>
                <option>Hindi</option>
            </select>

        </div>
    </nav>
</div>
<!-- <app-homepage></app-homepage> -->
